{% load static %}

<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/">
    <img src="{% static 'eticketing/img/logo.png' %}" width="30" height="30" alt="">
    Easy-Events
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav mt-2 mt-lg-0">
      <a class="nav-item nav-link active" href="/">Acheter un billet</a>
    </div>
    <form class="form-inline ml-auto mr-auto">
      <input class="form-control" type="search" placeholder="Rechercher" aria-label="Rechercher">
      <button class="btn btn-secondary mr-2 my-sm-0" type="submit">Rechercher</button>
    </form>
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Mon panier</a>
      <a class="nav-item nav-link" href="#">Me connecter</a>
    </div>

  </div>
</nav>