.form-control {
  background-clip: border-box;
}

.navbar {
  background-color: theme-color("secondary");
}

.card-action {
  padding: 10px;
}

.search-bar {
  padding: 0;
  margin: 0;
  border-radius: 50px;
  background-color: white;
  input {
    border: none;
  }

}