{% extends 'base.html' %}

{% block content %}

    <h1>{{ event_detail.event.title }}</h1>
    <h2>Liste des tarifs disponibles</h2>
    {% if event_detail.item_set.all|length > 0 %}
        {% for variation in event_detail.item_set.all %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ variation.attendee_type }}</h5>
                    <p>prix TTC <span>{{ variation.get_ttc_price }}</span></p>
                </div>
                <a class="btn btn-danger" href="{% url 'app:remove-from-cart' id=variation.id %}">Supprimer du panier</a>
                <a class="btn btn-primary" href="{% url 'app:add-to-cart' id=variation.id %}">Acheter</a>
            </div>
        {% endfor %}
    {% else %}
    <p>Aucun tarif disponible pour le moment.</p>
    {% endif %}

{% endblock content %}